# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# macOS specific
.DS_Store

# Environment variables
.env

# Editor specific
.vscode/

# Logs
logs/
*.log

# Dependency directories
# /jspm_packages/
# /bower_components/
